header {
	width: 100%;
	height: 70px;
	padding-top: 10px;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
}

.logo {
}

.nav {
	text-align: right;
	color: orange;
	display: inline;
}

main {
	margin-top: 70px;
}

section {
	display: flex;
	justify-content: space-around;
	align-content: center;
	width: 100%;
	background-color: blue;
	border: 2px solid white;
}

section:nth-child(2n) {
	background-color: white;
}

section div {
	display: inline-block;
	width: 25%;
	margin: 45px 0px;
	background-color: purple;
	border: 2px solid orange;
}

.services img {
	display: block;
	max-height: 100px;
	margin: 0 auto;
}





